{%- if cart == empty -%}
    <img class="icon icon-cart" src="https://cdn.shopify.com/s/files/1/0656/4688/7139/files/icon_cart.png?v=1663650734">
{%- else -%}
    <img class="icon icon-cart" src="https://cdn.shopify.com/s/files/1/0656/4688/7139/files/icon_cart.png?v=1663650734">
{%- endif -%}
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
      {%- if cart.item_count < 100 -%}
        <span aria-hidden="true">{{ cart.item_count }}</span>
      {%- endif -%}
      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
