<div class="collection-hero collection-hero--with-image product_title">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h2 class="pc">
        <a href="{{ section.settings.url }}" class="">
        {{ section.settings.image_pc | image_url: width: 1500 | image_tag:
          alt: section.settings.image_pc.alt | escape
        }}
        </a>
      </h2>
      <h2 class="sp">
        <a href="{{ section.settings.url }}" class="">
        {{ section.settings.image_sp | image_url: width: 1500 | image_tag:
          alt: section.settings.image_sp.alt | escape
        }}
        </a>
      </h2>
    </div>
  </div>
</div>
{% schema %}
 {
  "name": "商品詳細タイトル",
  "tag": "section",
  "class": "section_product",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_pc",
      "label": "タイトル画像デスクトップ"
    },
    {
      "type": "image_picker",
      "id": "image_sp",
      "label": "タイトル画像モバイル"
    },
    {
      "type": "url",
      "id": "url",
      "label": "URL"
    }
  ],
  "presets": [
    {
      "name": "商品詳細タイトル",
      "category": "画像"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.product_title img{
    width: 100%;
    height: auto;
}
.product_title .pc{
    display: none;
}
.product_title .collection-hero__text-wrapper{
    position: absolute;
    top: -8px;
    left: 20px;
    width: 100%;
    max-width: 210px;
}
.product_title .collection-hero__inner{
    position: relative;
    height: 50px;
    margin-top: 20px;
 }
.product_title .collection-hero__inner:before{
    content: '';
    background: #fcdde8;
    width: 100%;
    height: 15px;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 3px;
}
 @media screen and (min-width: 769px){
    .product_title .sp{
      display: none;
    }
    .product_title .pc{
      display: block;
    }
    .product_title .collection-hero__text-wrapper{
      max-width: 330px;
      top: -5px;
      left: 60px;
    }
    .product_title .collection-hero__inner{
        height: 78px;
        margin-top: 20px;
        margin-bottom: 30px;
     }
    .product_title .collection-hero__inner:before{
        height: 20px;
        bottom: 5px;
    }
    .section_product .gradient{
      background: transparent;
      margin-bottom: 50px;
      margin-top: 20px;
    }
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}